body {
    background-color: #FCE9E9;
}

.header-img {
    height: 470px;
    width: 1349px;
}

.roundHeader {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 250px;
    right: 420px;
    filter: contrast(200%);
}

.the-title {
    position: absolute;
    top: 20px;
    left: 440px;
    width: 700px;
}


.about-text {
    position: absolute;
    top: 650px;
    left: 25px;
    font-size: 22px;
}

h1 {
    font-size: 50px;
}

.bio-text {
    position: absolute;
    top: 700px;
    left: 350px;
    line-height: 1;
    font-size: 22px;
}

td {
    padding: 5px;
}

.education-text {
    position: absolute;
    top: 1150px;
    right: 25px;
    font-size: 22px;
    text-align: right;
}

p {
    line-height: 0.7;
    font-size: 22px;
}

#sd {
    position: absolute;
    top: 1190px;
    right: 355px;
    text-align: right; 
}

#smp {
    position: absolute;
    top: 1260px;
    right: 240px;
    text-align: right; 
}

#sma {
    position: absolute;
    top: 1330px;
    right: 245px;
    text-align: right; 
}

#uni {
    position: absolute;
    top: 1400px;
    right: 270px;
    text-align: right; 
}

.skills-text {
    position: absolute;
    top: 1700px;
    left: 25px;
    font-size: 22px;
}

.progress {
    width: 380px;
    height: 20px;
}

.progress-bar {
    background-color: #ABA8A8;
}

#first {
    position: absolute;
    left: 300px;
    top: 1750px;
}

#sec {
    position: absolute;
    left: 300px;
    top: 1820px;
}

#third {
    position: absolute;
    left: 300px;
    top: 1890px;
}

#fourth {
    position: absolute;
    left: 300px;
    top: 1960px;
}


.fav-n-hob {
    position: absolute;
    top: 2350px;
    right: 25px;
    font-size: 22px;
    text-align: right;
}

#music {
    position: absolute;
    top: 2410px;
    right: 240px;
    text-align: right; 
}

#books {
    position: absolute;
    top: 2480px;
    right: 250px;
    text-align: right; 
}

.contact {
    position: absolute;
    top: 2700px;
    right: 547px;
    font-size: 22px;
}

#center-text {
    position: absolute;
    top: -50px;
    right: 125px;
}
