<!DOCTYPE html>
<html>
    <head>
        <title>Arsip</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'StyleForStory3.css' %}">

        <style>
        
        #explain {
            position: absolute;
            top: 800px;
            right: 300px;
        }

        #text {
            position: absolute;
            top: 1350px;
            right: 250px;
            width: 750px;
        }

        #text p {
            line-height: 1.5;
            font-size: 22px;
            text-align: justify;
        }
        </style>
    </head>
    
    <body>
        {% include "navbar.html" %}
        {% block navbar %}
        {% endblock %}

        <img src="{% static 'test.jpg'%}" class="header-img" id="home">
        <img src="{% static 'round.png'%}" class="roundHeader" id="about">

        <div class="about-text">
                <div class="the-title">
                    <h1>STRANDED</h1>
                </div>
        </div>

        <div class="text-center">
            <img src="{% static 'night.jpg' %}" class="rounded" id="explain" width="650" height="450">
        </div>

        <div id="text">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>'Hah, gelap'</i> keluhku. Tak akan kau dapati gelombang suara di tempat ku berada kini. 
                Aku, secara ajaib, berada di suatu 'tempat' yang bahkan secercah gelombang cahaya pun tak akan bisa keluar dari sini.
                Tempat yang bahkan bintang pun menjadi terurai jika memasukinya. Konyol, bukan?</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mengapa aku, dengan tubuh yang ku yakini masih utuh ini, berhasil memasuki tempat yang seharusnya menjadikanku sebagai satu titik singularitas?
                Entahlah. Mungkin mereka, makhluk yang beroperasi di lebih dari tiga dimensi, telah memberiku izin untuk memasukinya.
                Seharusnya, secara prosedur, ku laporkan segala kejadian ganjil yang terjadi kepada rekan-rekanku di tempat asalku selama ekspedisi berlangsung. Bukankah ini suatu keberhasilan besar? 
                Dengan memasuki lubang terkutuk ini, kami akan membuka satu dari banyaknya kotak rahasia yang tersebar di alam semesta.
            </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tapi, bagaimana? Kecepatan dari 'materi' apa yang bisa melebihi kecepatan cahaya? Persediaan oksigenku semakin menipis, sementara tubuhku masih ditarik oleh gravitasi ke arah yang ku tak tahu.
                Mungkin ia akan membawa ku ke nirwana atau ke tempat Astaroth berada, setidaknya itu tempat yang ku ketahui. 
                Atau mungkin, sebenarnya ia tak pernah membawaku ke mana-mana. Ia hanya mengajakku berkeliling di ruangan ini, menjadikanku temannya sambil menunggu ajal dalam gelap.    
            </p>

            <hr style="border-width: 2px">

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aku tersadar. Segala sistem sarafku kini kembali bekerja. Dengan segala usaha, ku bukakan kedua kelopak mataku, yang kemudian disapa oleh seberkas sinar di atas kepala.</p>
            <p><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'Cahaya?'</i></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tubuhku tersentak, sistem sarafku kini bekerja dua kali lipat, pun jantungku memompa lebih cepat.
                Kemudian aku dikelilingi oleh beberapa makhluk yang pada tubuhnya dilekatkan kain putih. 
                Ku yakini mereka memiliki organ luar sepertiku, karena struktur wajah mereka yang mirip serta perawakan yang familiar dengan spesiesku di tempatku berasal.
            </p>
            <p><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'Aku di mana?'</i></p>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mereka memeriksa seluruh tubuhku dengan seksama seraya berbicara dengan bahasa yang tak ku pahami.
                Selain mereka, ada juga beberapa makhluk yang berdiri tegap dengan sorot matanya yang tajam.
                Mereka benar-benar tak membiarkanku kabur barang seinci pun.
                Lagipula, bagaimana bisa aku kabur? Aku tak mengenali daerah ini, yang jelas-jelas bukanlah Bumi. Teknologi mutakhir yang ku tahu di sana belumlah secanggih di sini.
                Seluruh alat di ruangan ini tampak mengapung, seolah-olah menolak untuk ditarik oleh gravitasi.
            </p>

            <p><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'Mereka dengan mudahnya bermain-main dengan gravitasi.'</i></p>

            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seolah tak puas dengan penjagaan yang sangat ketat, tubuhku pun mereka lumpuhkan sehingga aku tak bisa bergerak. Mungkin bagi mereka aku adalah ancaman.
                Ancaman yang datang untuk memusnahkan seluruh kehidupan di planet ini. Atau barangkali aku adalah penemuan —mengingat pemeriksaan pada tubuhku yang hingga kini tak kunjung usai—,
                penemuan karena ternyata ada seonggok makhluk menyerupai mereka yang berhasil masuk ke planet ini, tanpa kendaraan apapun yang mengantarnya.

            </p>

            <hr style="border-width: 2px">
        </div>

    </body>
    
</html>