<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'StyleForStory3.css' %}">
    <style>
        #photos {
        position: absolute;
        top: 200px;
        left: 100px;
        }

        #hello {
        position: absolute;
        top: 250px;
        left: 750px;
        }

        #dialogue {
        position: absolute;
        top: 320px;
        left: 600px;
        width: 500px;
        line-height: 1;
        font-size: 36px;
        }
        
    </style>
    
    </head>
    
    <body>
        <div class="container-fluid">
          {% include "navbar.html" %}
           {% block navbar %}
           {% endblock %}
          <img src="{% static 'test.jpg' %}" width="1349" height="655">
          <img src="{% static 'DSC_5311.JPG'%}" class="rounded float-left" alt="my Image" width="300" height="350" id="photos">
          <a href="{% url 'profile' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" id="hello">HELLO!</a>
          <p id="dialogue">This has been Dhita! Want to know a little more about me? Just click the Hello button! It won't hurt you!</p>
        </div>
      </body>
</html>