{% block navbar %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'profile'%}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="{% url 'profile'%}#about">About Me</a>
                <a class="nav-item nav-link active" href="{% url 'profile'%}#educ">Education</a>
                <a class="nav-item nav-link active" href="{% url 'profile'%}#skills">Skills</a>
                <a class="nav-item nav-link active" href="{% url 'profile'%}#favs">Fav 'n Hobbies</a>
                <a class="nav-item nav-link active" href="{% url 'profile'%}#contact">Contact</a>
                <a class="nav-item nav-link active" href="{% url 'arsip' %}">Arsip</a>
                <a class="nav-item nav-link active" href="{% url 'schedule' %}">Schedule</a>
                <a class="nav-item nav-link active" href="{% url 'response' %}">My Schedule</a>
          </div>
    </div>
</nav>
{% endblock %}