<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% load static%}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'StyleForStory3.css' %}">
        <style>
    
        body {
            width: 1000px;
        }
        form {
            position: absolute;
            top: 750px;
            left: 350px;
            width: 1000px;

        }
        </style>
    </head>
    
    <body width="3000px">
        {% include "navbar.html" %}
        {% block navbar %}
        {% endblock %}
        <img src="{% static 'test.jpg'%}" class="header-img" id="home">
        <img src="{% static 'round.png'%}" class="roundHeader" id="about">

        <div class="about-text">
            <div class="the-title">
                <h1>REGISTER</h1>
            </div>
        </div>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" required>
                </div>
                <div class="form-group col-md-6">
                        <label for="Last">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-group">
                    <label for="inputBirthDate">Birth Date</label>
                    <input type="date" class="form-control" id="inputBirthDate" placeholder="" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="InputEmail">Email</label>
                    <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputUserName">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                    <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="InputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="InputPassword2">Confirmation Password</label>
                    <input type="password" class="form-control" id="InputPassword2" placeholder="Confirmation Password" required> 
                </div>
            </div>
            <a href="Story3.html" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" id="hello">REGISTER!</a>
        </form>
    </body>
</html>