<!DOCTYPE html>
<html>
    <head>
        <title>Jadwal Tambahan</title>

        {% load static%}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'StyleForStory3.css' %}">
        <style>
           
            table, th, td {
                
                weight: 20px;
                height: 40px;
                border: 1px solid black;
                border-collapse: collapse;
            }
            .pos {
                position: abosolute;
                top: 300px;
            }
        </style>

    </head>
    <body style="background-color:antiquewhite">

            {% include "navbar.html" %}
            {% block navbar %}
            {% endblock %}

        <div class = "pos">
            <h2>JADWAL TAMBAHAN</h2>
                <table>
                    <tr>
                        <th>Activity</th>
                        <th>Date</th>
                        <th>Place</th>
                        <th>Category</th>
                        <th>Details</th>
                    </tr>
                        {% for jadwal in data %}
                    <tr>
                        <td style='text-align: center'>{{ jadwal.activity }}</td>
                        <td style='text-align: center'>{{ jadwal.tanggal }}</td>
                        <td style='text-align: center'>{{ jadwal.location }}</td>
                        <td style='text-align: center'>{{ jadwal.category }}</td>
                        <td style='text-align: center'>{{ jadwal.details }}</td>
                    </tr>
                        {% endfor %}
                    </table>

                    <a class="btn btn-primary" href="/delete/">Delete All</a>
        </div>
    </body>