{% include 'navbar.html' %}


<!DOCTYPE html>
<html>
    <head>
        <title>Schedule</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'StyleForStory3.css' %}">

        <link rel=”stylesheet” href=”//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css”>
        <link rel=”stylesheet” href=”/resources/demos/style.css”>
        <script src=”https://code.jquery.com/jquery-1.12.4.js”></script>
        <script src=”https://code.jquery.com/ui/1.12.1/jquery-ui.js”></script>
    
        <style>
        #h1 {
            font-size: 30px;
        }

        .form-submit {
            position: absolute;
            top: 725px;
            left: 400px;
            width: 400px;
        }
        </style>
    
    </head>
    <body>
        {% block navbar %}
        {% endblock %}

        <img src="{% static 'test.jpg'%}" class="header-img" id="home">
        <img src="{% static 'round.png'%}" class="roundHeader" id="about">

        <div class="about-text">
                <div class="the-title">
                    <h1 style="font-size: 32px">MENAMBAH JADWAL</h1>
                </div>
            </div>

            <div class ="form-submit">
                <form id = "form" method = "POST" action = "{% url 'add_schedule' %}">
                        {% csrf_token %}
                        {{ my_schedule }}
                        <br>
                        <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </body>