<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'StyleForStory3.css' %}">
    </head>
    
    <body>  
        {% include "navbar.html" %}
        {% block navbar %}
        {% endblock %}
        <img src="{% static 'test.jpg'%}" class="header-img" id="home">
        <img src="{% static 'round.png'%}" class="roundHeader" id="about">

        <div class="about-text">
                <b>About Me</b>
                <h1>DHITA</h1>
                <h1>PUTRI</h1>
                <h1>PRATAMA</h1>
        </div>

        <div class="bio-text">
            <table style="width:100%">
                <tr>
                    <td>DOB</td>
                    <td>: August 10th, 2000</td>
                </tr>
                <tr>
                    <td>POB</td>
                    <td>: Jakarta</td>
                </tr>
                <tr>
                    <td>Sex</td>
                    <td>: Female</td>
                </tr>
                <tr>
                    <td>Occupation</td>
                    <td>: Student</td>
                </tr>

                <tr>
                    <td>Nationality</td>
                    <td>: Indonesia</td>
                </tr>
            </table>
            <hr id="educ">
        </div>

        <div class="education-text">
            <b>Education</b>
            <h1>― Elementary</h1>
            <h1>― Junior</h1>
            <h1>― Senior</h1>
            <h1>― College</h1>
        </div>

        <div id="sd">
            <p>M.I Syamsul Huda | Regular Class</p>
            <p>2005 - 2011</p>
        </div>

        <div id="smp">
            <p>SMPN 254 Jakarta | Regular Class</p>
            <p>2011 - 2014</p>
        </div>

        <div id="sma">
            <p>SMAN 38 Jakarta | Science</p>
            <p>2014 - 2017</p>
        </div>

        <div id="uni">
            <p>Universitas Indonesia | Computer Science</p>
            <p>2017 - now</p>
            <hr id="skills">
        </div>

        <div class="skills-text">
                <b>Skills</b>
                <h1>English</h1>
                <h1>Java</h1>
                <h1>Python</h1>
                <h1 id="favs">MS. Office</h1>
        </div>

        <div class="progress" id="first">
            <div class="progress-bar" role="progressbar" style="width:72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="progress" id="sec">
            <div class="progress-bar" role="progressbar" style="width:60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="progress" id="third">
            <div class="progress-bar" role="progressbar" style="width:55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="progress" id="fourth">
            <div class="progress-bar" role="progressbar" style="width:85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
          

        <div class="fav-n-hob">
            <b>Fav 'n Hobbies</b>
            <h1>― Music</h1>
            <h1>― Books</h1>
        </div>

        <div id="music">
            <p>AURORA, SEAFRET, ONE OK ROCK</p>
        </div>

        <div id="books">
            <p>SUPERNOVA SERIES, BURU TETRALOGY, RAMAYANA</p>
            <hr id="contact">
        </div>

        <div class="contact">
            <div class="text-center">
                <b id="center-text">Contact</b>
                <img src="{% static 'DSC_5311.JPG' %}" class="rounded" alt="my-image" weight="300" height="300">
            </div>
            <table style="width:100%">
                <tr>
                    <td>Email</td>
                    <td>: taputridhita@gmail.com</td>
                </tr>
                <tr>
                    <td>Line</td>
                    <td>: @taputa_</td>
                </tr>
                <tr>
                    <td>Twitter</td>
                    <td>: @taputa_</td>
                </tr>
            </table>
        </div>

    
    </body>

</html>